@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="chart-container"></div>

<script>
    var categories;
    var series;

    $(document).ready(function () {
        $.ajax(
            {
                url: '/Home/GetChartDataAjax',
                type: 'POST',
                success: function (data) {

                    var c = data.categories;
                    var s = data.series;
                    //console.log({ c });
                    //console.log({ s });
                    //console.log(c);
                    //console.log(s);
                    makeChart(c, s);
                },
                error: function (data) {
                    console.log('Bad request', data);
                }
            })
    });


    function makeChart(xValues, yValues) {
        Highcharts.chart('chart-container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Статистика по запросу'
            },
            xAxis: {
                categories: xValues 
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Количество запросов за день (сгруппировано по типу)'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: yValues
        });
    }
</script>
